@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

main h1 {
    @apply
        text-3xl
        font-bold
}

main h2 {
    @apply
        text-lg
        font-bold
        mb-2
}

main h3 {
    @apply
        text-base
        font-bold
        mb-2
}


.button {
    @apply
        text-white
        font-bold
        py-2
        px-4
        rounded
}

.button--blue {
    @apply
        bg-blue-500
        hover:bg-blue-700
}

.input-control {

    @apply

        bg-gray-50
        border
        border-gray-300
        text-gray-900
        text-sm
        rounded-lg
        focus:ring-blue-500
        focus:border-blue-500
        block
        w-full
        p-2.5
        mb-4

        /*dark:bg-gray-700 */
        /*dark:border-gray-600 */
        /*dark:placeholder-gray-400 */
        /*dark:text-white */
        /*dark:focus:ring-blue-500 */
        /*dark:focus:border-blue-500 */
        /*mb-4*/

}

.input-control__checkbox {

    @apply

    bg-gray-50
    border
    border-gray-300
    text-gray-900
    text-sm
    rounded-lg
    focus:ring-blue-500
    focus:border-blue-500
    block
    p-2.5
    mb-4

}

form label:last-child input {
    @apply
        mb-0
}

.property-table td {
    @apply
        w-1/2
}

.homepage__title {
    background: #52A2DE;
    background: -webkit-linear-gradient(to right, #52A2DE 0%, #CF30BA 100%);
    background: -moz-linear-gradient(to right, #52A2DE 0%, #CF30BA 100%);
    background: linear-gradient(to right, #52A2DE 0%, #CF30BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page__title {

    @apply
        text-white 
        text-5xl 
        md:text-8xl  
        font-bold 
        mb-12

}

.square__title {

    @apply
    
        text-white 
        text-3xl
        lg:text-[2.5rem] 
        mb-4

}

.footer__block {

    @apply

        w-full 
        lg:w-auto
        text-center 
        lg:text-left
        mb-4 
        lg:mb-0

}

.feature-block__wrapper {

    @apply

        w-full 
        lg:w-1/3 
        justify-center 
        flex

}

.feature__blocks {

    @apply
        max-w-[700px]
        lg:max-w-xs
        xl:max-w-sm 
        rounded 
        overflow-hidden 
        shadow-lg 
        text-center 
        border-gray-700 
        border-2

}

.feature-block__padding {

    @apply
        p-6
        md:p-10
        lg:p-8

}

.feature-list__wrapper {

    @apply

        max-w-lg
        mx-auto
        lg:max-w-[none]

}

.admin__panel {

    @apply

        bg-slate-800 
        overflow-hidden 
        shadow-sm 
        sm:rounded-lg 
        mb-4

}